$xs-320: 320px; // Смартфоны (портретная ориентация)
$sm-480: 480px; // Смартфоны (ландшафтная ориентация) и планшеты (портретная ориентация)
$md-768: 768px; // Планшеты (ландшафтная ориентация)
$lg-992: 992px; // Ноутбуки
$xl-1200: 1200px; // Ноутбуки с большим разрешением
$xxl-1400: 1400px; // Большие мониторы

@mixin media($media) {
  @if $media == $xl-1200 {
    @media (max-width: $xl-1200 - 1) {
      @content;
    }
  }
}