@use 'clearing';
@use './_fonts/_fonts';
@use  './_vars/_vars.scss';

@import './_mixins/_media';

.container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
}

* {
  font-family: Montserrat-Regular, sans-serif;
  font-size: var(--font-size-body-1);
  line-height: var(--font-line-height-body-1);
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--font-line-height-h1);
  font-family: Montserrat-ExtraBold, sans-serif;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--font-line-height-h2);
  font-family: Montserrat-ExtraBold, sans-serif;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--font-line-height-h3);
  font-family: Montserrat-ExtraBold, sans-serif;
}



@include media($sm-480) {
  // Стили для экранов с шириной до 319px
  h1 {
    font-size: 8px;
    line-height: 8px;
  }
  h2 {
    font-size: 8px;
    line-height: 8px;
  }
  h3 {
    font-size: 8px;
    line-height: 8px;
  }
}